name: macOS M

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
      with:
       repository: alcz/hbpksrc
       path: hbpksrc

    - name: Prepare environment
      run: |
        brew install slang
        brew install grep
        sudo mkdir /opt/hbpk
        sudo chown $USER /opt/hbpk
        echo verbose=off > $HOME/.wgetrc

    - name: Get previously built packages
      continue-on-error: true
      uses: actions/download-artifact@v4
      with:
        name: packages-aarch64-macos
        path: hbpksrc/packages-aarch64-macos-last

    - name: Build base of hbpk
      run: |
        export HBPK_WORKDIR=$HOME/hbpk
        export PATH="$HBPK_WORKDIR/bin:$PATH"
        cd hbpksrc/base
        mv xz xz-old
        mv xz-current xz
        make install
        rm $HBPK_WORKDIR/bin/hbpk-sizecat # pacify progress-bar
        ln -s /bin/cat $HBPK_WORKDIR/bin/hbpk-sizecat
        cat $HBPK_WORKDIR/bin/hbpk-del | sed -e 's/hbpk-sizecat -nosize/cat/' > /tmp/hbpk-del
        mv /tmp/hbpk-del $HBPK_WORKDIR/bin/hbpk-del # another patch for extra argument
        chmod 755 $HBPK_WORKDIR/bin/hbpk-del

    - name: Build a selection of packges
      run: |
        export HBPK_WORKDIR=$HOME/hbpk
        export PATH="$HBPK_WORKDIR/bin:$HBPK_WORKDIR/harbour/bin/darwin/zig:$(brew --prefix)/opt/grep/libexec/gnubin:$PATH"
        cd hbpksrc/build
        PKGSELECTION=zig-binary make install
        PKGSELECTION=harbour-core make install
        cd harbour-core-onedir
        mv ../harbour-core/harbour-* ./ # only redo the install
        touch .config .depend .extract .fetch .patch
        cd ..
        PKGSELECTION=harbour-core-onedir make install
        PKGSELECTION=" \
          letodbf-server-elch \
          letodbf-server-alcz \
          letodbf-rdd-elch \
          letodbf-rdd-alcz \
          libpq9 \
          harbour-pgsql \
          " \
        make install

    - name: Run tests
      run: |
         $HOME/hbpk/harbour/bin/darwin/zig/hbtest

    - name: Rename artifacts
      run: |
        cd hbpksrc
        mv packages packages-aarch64-macos

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: packages-aarch64-macos
        path: hbpksrc/packages-aarch64-macos
